* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.top-bar {
  background: white;
  color: #000;
  text-align: center;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
}

.top-bar a {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}

.top-bar a:hover {
  color: #2e7d32;
}

.navbar {
  position: absolute;
  top: 45px;
  width: 100%;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  color: white;
  line-height: 1;
}

.logo .small {
  font-size: 14px;
  letter-spacing: 1px;
}

.logo .big {
  font-size: 28px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 8px 18px;
  border-radius: 30px;
  transition: 0.3s;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.25);
}

.nav-links .active {
  border: 2px solid white;
}

body {
  background: #fff8e1;
  color: #3e2723;
}

.hero {
  height: 100vh;
  background: linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
    ),
    url("https://t4.ftcdn.net/jpg/00/14/71/15/360_F_14711535_o3MgCpenxtKxNX5bw3iAzfoUfWBAKLuy.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  color: #fff;
}

.hero-content p {
  color: #ffe082;
  margin: 15px 0;
}

.btn {
  background: #ffc107;
  padding: 12px 25px;
  color: #3e2723;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #ffb300;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.about p {
  max-width: 700px;
  margin: auto;
}

.varieties .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card span {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #2e7d32;
}

.order {
  background: #ffe082;
}

footer {
  background: #3e2723;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Animations */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.4s ease-out;
}

.hero .fade-in {
  transition: none;
  opacity: 1;
  transform: translateY(0);
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links a {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .top-bar {
    font-size: 13px;
    padding: 8px;
  }
}

